PORT=4000
NODE_ENV=development

# URL connection for Prisma pointing to our docker-compose container
DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/radaislami?schema=public"

# Placeholder Qwen API Key
QWEN_API_KEY="sk-placeholder123"
